@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Inter', sans-serif;

}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #fff;
}

.hero-container-light{
    background: rgb(88,88,88);
    background: linear-gradient(90deg, rgba(88,88,88,1) 0%, rgba(195,195,195,1) 70%);
}

.hero-container-dark{
    /* background:
    linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(13, 7, 31, 0.95)),
    url(../../assets/hero-dark.jpg);
    background-size: cover; */
    background: rgb(26,34,46);
    background: linear-gradient(90deg, rgba(26,34,46,1) 0%, rgba(41,63,93,1) 76%);
}